MONGO_URI = 
BCRYPT_ROUNDS = 
SECRET = session_secret
NODEMAILER_MAIL = 
NODEMAILER_PASS = 
NODEMAILER_HOST = 
NODEMAILER_PORT = 
TWILIO_TOKEN = 
TWILIO_PASS =  
TWILIO_DESTINATION_NUMBER = 
STORAGE_MODE = "MONGO/SQL"