<%- include('./header')-%>

<form class="form-horizontal" action='/register' method="POST" >
    <fieldset>
      <div id="legend">
        <legend class="">Register</legend>
      </div>

   
      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
          <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
          <p class="help-block">Enter your email</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="address">Address</label>
        <div class="controls">
          <input type="text" id="address" name="addSress" placeholder="" class="input-xlarge">
        </div>
      </div>S

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="age">Age</label>
        <div class="controls">
          <input type="text" id="age" name="age" placeholder="" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">Phone</label>
        <div class="controls">
          <input type="text" id="telephone" name="telephone" placeholder="" class="input-xlarge">
        </div>
      </div>
  
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success">Register</button>
        </div>
      </div>
    </fieldset>
  </form>